
body{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: hsl(27, 66%, 92%);
}
.main-card{
  display: block;
  width: 480px;
  position: absolute;
  top: 15%;
  

}
.upper-card{
  display: flex;
  justify-content: space-between;
  background-color: hsl(10, 79%, 65%);
  padding: 20px;
  border-radius: 15px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: hsl(10, 79%, 65%);
  color: white;
  text-align: center;
}
.card-left li{
  list-style: none;
  
}
#mybalance{
  font-size: 15px;
  font-family: 'DM Sans', sans-serif;
  color: gainsboro;
  font-weight: 400;
   
}
#amount{
  font-size: 25px;
  font-weight: 700;
  font-family: 'DM Sans', sans-serif;
  margin-top: 8px;
  color: #fff;
}
.card-right img{
  width: 60px;
  height: 60px;
}
.lower-card{
  margin-top: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
}
.first-row{
  background-color: #fff;
  display: flex;
  padding: 10px;
  

}
.first-row span{
  font-size: 25px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  margin-left: 0;
  
}
.second-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
}

.mon{
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 0;
}
.tue{
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 0;
}
.wed{
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 0;
}
.thu{
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 0;
}
.fri{
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 0;
}
.sat{
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 0;
}  
.sun{
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 0;
}
.mon .box{
height: 50px;
width: 100%;
background-color: hsl(10, 79%, 65%);
border-radius: 5px;
}
.tue .box{
height: 100px;
width: 100%;
background-color: hsl(10, 79%, 65%);
border-radius: 5px;

}
.wed .box{
height: 150px;
width: 100%;
background-color: hsl(186, 34%, 60%);
border-radius: 5px;
}
.thu .box{
height: 80px;
width: 100%;
background-color: hsl(10, 79%, 65%);
border-radius: 5px;
}
.fri .box{
height: 70px;
width: 100%;
background-color: hsl(10, 79%, 65%);
border-radius: 5px;
}
.sat .box{
height: 130px;
width: 100%;
background-color: hsl(10, 79%, 65%);
border-radius: 5px;
}
.sun .box{
height: 90px;
width: 100%;
background-color: hsl(10, 79%, 65%);
border-radius: 5px;
}

.second-row span{
font-size: 15px;
color: rgb(42, 47, 55);
font-weight: 500;
font-family: 'DM Sans', sans-serif;
margin-top: 5px;
}
hr{
margin-top: 30px;
opacity: 0.3;
height: 5px;
}
.third-row{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 30px;
}
.total li{
list-style: none;
}
#money{
font-size: 35px;
font-family: 'DM Sans', sans-serif;
font-weight: 700;
}
#month{
  font-size: 15px;
  font-family: 'DM Sans', sans-serif;
  color: rgb(65, 61, 61);
  font-weight: 400; 
}
li{
list-style: none;
}
#tax-percentage{
font-size: 20px;
font-family: 'DM Sans', sans-serif;
font-weight: 600;
}
.box-show{
width: 100%;
height: 30px;
margin-bottom: 10px;
border: 1px solid green;
display: flex;
justify-content: center;
text-align: center;
align-items: center;
background-color: rgb(0, 0, 0);
border-radius: 10px;
}
.box-show span{
color: #fff;
font-family: 'DM Sans', sans-serif;
font-weight: 500;
font-size: 13px;
}
.box-show {
display: none;
}

.box:hover + .box-show {
display: block;

}
@media screen and (max-width: 480px) {
  body{
    min-width: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .main-card{
         position: absolute;
         left: 10px;
        padding:20px;
    
  }
